[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = saurabsharma111
	email = 100029380+saurabsharma111@users.noreply.github.com
